<div class="col-md-8 col-md-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" ngNativeValidate>
        <div class="form-group">
            <label for="content">Content</label>
            <!--<input id="content" type="text" class="form-control" #input> Using input as a local variable-->
            <input
                    id="content"
                    type="text"
                    class="form-control"
                    ngModel
                    name="content"
                    required="required"
            >
        </div>
        <!--<button type="submit" class="btn btn-primary" (click)="onSave(input.value)">Save</button>-->
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>